# Python bytecode and cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
.venv/
venv/
env/
ENV/
.env

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo

# Other
*.log
.DS_Store
openspliceai_data_human_10k
lyra_env
__pycache__
lyra_runs
